{deps, [
  {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {branch, "main"}}},
  {eserial, {git, "https://github.com/vzroman/eserial.git", {branch, "main"}}},
  {observer_cli, {git, "https://github.com/vzroman/observer_cli.git", {tag, "1.7.4"}}}
]}.

{relx, [
  {release, {iec60870, "1.0.7"}, [
    {iec60870, load},
    {observer_cli,load}
  ]}
]}.