{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
  {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {branch, "main"}}},
  {eserial, {git, "https://github.com/vzroman/eserial.git", {branch, "main"}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
]}.